@using TegCMS.Helpers
@model TegCMS.Pages.Models.PageViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header>
        @Html.CmsRegion(@Model.Regions, "Head")
    </header>
    
    <div>
        @Html.CmsRegion(@Model.Regions, "Main")
    </div>
</body>
</html>
