@model TegCMS.Pages.Models.PageViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header>
        @foreach(var component in @Model.Regions["Head"].Components) 
        {
            @Html.Action(component.Action, component.Controller, new RouteValueDictionary { { "configuration", component.Configuration } })
        }
    </header>
    
    <div>
        @foreach(var component in @Model.Regions["Main"].Components) 
        {
            @Html.Action(component.Action, component.Controller, new RouteValueDictionary { { "configuration", component.Configuration } })
        }
    </div>
</body>
</html>
